 


body{
  background-color: rgb(1, 9, 27);
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: white;

  
  

}



h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: white;
  position: relative;
  margin-top: 100px;
}

h1 .cursor {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: white;
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  

  .animate {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .animate.visible {
    opacity: 1;
    transform: translateY(0);
  }


  .navbar{
  
    background-color: rgb(36,41,51);
    position: fixed;
    z-index: 5;
  }
  
  
  .f{
  
    background-color: rgb(36,41,51);
  
  }
  
   
  
  
  
  
  .footer{ background-color: rgb(36,41,51);
    color: rgb(166,173,178);}
  



  .lg{

position: relative;
left: 80px;


  }
  
  .fo {
  
    position: relative;
    top: 379px;
  
  
  
  }
  
  .fa {
  
    height: 100vh;
    position: relative;
    background-color: black;
    
  
  
  
  }
  
  .faa {
  
    
   height: 100vh;
  
  
  }
  
   
  
  
  
   
  
  
   
  
  .lal {
  
    height: 80vh;
  
  
  
  
  }
  
  
  .cardi {
  
  
    width: 40%;
     
      background-color: rgb(36,41,51);
    position: relative;
    left: 1%;
    top: 110px;
     
    
   
  
  
  
  }
  
   
  .cardii {
    background-color: rgb(36,41,51);
  
    width: 40%;
   
    position: relative;
    left: 59%;
    top: -440px;
  
  
  }
  
  .buscar {
  
    position: relative;
    left: 12%;
  
  
  }
  
  .in {
  
    position: relative;
    left: -10%;
  
  }
  
  .cambiar {
  
    position: relative;
    left: -400%;
  
  
  
  
  }
  
  
  .botones {
  
    position: relative;
    top: -55px;
    display: flex;
    justify-content: center;
  
  
  
  }
  
  
  
  .perfil {
  
  
    position: relative;
    top: 100px;
    display: flex;
    width: 10vw;
    left: 10%;
    z-index: 2;
  
  }
  
  
  
  
  .yo {
  
    background-color: rgb(34, 34, 34);
  
    height: 20vh;
    width: 69vw;
    position: relative;
    left: 12%;
    top: 30px;
    border-radius: 30px;
    z-index: 1;
  
  
  
  }
  
  .deve {
  
    position: relative;
    left: 50%;
    width: 400px;
  
  }
  
  
  .nombre {
  
    position: relative;
    left: 10%;
     
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 115ch;
  
  animation: typing 2s steps(12), blink
   30s infinite step-end alternate;
   overflow: hidden; 
  
  }
  
  @keyframes typing {
    from {width: 0;}
  
  }
  
  @keyframes blink {
    50%{border-color: transparent;}
  }
  
  
  .front {
  
    height: 50vh;
    border-radius: 40px;
    position: relative;
    top: 160px;
    border: solid 1px black;
    
  }
  
  
  .back {

    height: 50vh;
    border-radius: 40px;
    position: relative;
    top: -180px;
    left: 64%;
    border: solid 1px black;
  }
  
  .front:hover{

animation: identifier 1s alternate infinite;
box-shadow: 0 0 20px 1px  rgb(102, 26, 230);


  }

  .back:hover{

    animation: identifierr 1s alternate infinite;
    box-shadow: 0 0 20px 1px  rgb(102, 26, 230);
    
    
      } 
  
@keyframes identifier {
  
0%{transform: rotate(0);}
100%{transform: rotate(5deg);}

}

  
@keyframes identifierr {
  
  0%{transform: rotate(0);}
  100%{transform: rotate(-5deg);}
  
  }

  .certi {
  
    position: relative;
    top: 100px;
    width: 10vw;
    font-size: 30px;
  
  
  
  }
  
  .conoxi{
  
    display: flex;
    justify-content: center;
  }
  
  .certix{
  
    display: flex;
    justify-content: center;
      
  }
  
  .conoci {
  
    position: relative;
    top: 100px;
   
    width: 10vw;
    font-size: 30px;
  }
  
  
  
  .lengua {
  
    height: 20vh;
  
  animation: len 5s ease  infinite reverse ;
   
  
  
  
  }
 
      


  .lenguaa {
  
    height: 20vh;
  
  animation: len 5s ease  infinite reverse ;
   
  
  
  
  }
  
  @keyframes len {
    
  0%{transform: rotateY(50deg);}
  
  100%{transform: rotateY(-50deg);}
  
  }
  
  
  .todolen{
  
    display:flex;
     justify-content: space-around;
   
    
  
  
  }
  
  
    
 
  
   .idio{
  
  display: flex;
  justify-content: center;
  
  
   }
  
   .idios{width: 10vw;
    font-size: 30px;}
  
  .progre{
  
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    
     }
  
  
  
     .loader:before,
     .loader:after,
     .loader {
       border-radius: 50%;
       width: 2.5em;
       height: 2.5em;
       -webkit-animation-fill-mode: both;
       animation-fill-mode: both;
       -webkit-animation: load7 1.8s infinite ease-in-out;
       animation: load7 1.8s infinite ease-in-out;
     }
     .loader {
       margin: 8em auto;
       font-size: 10px;
       position: relative;
       top: 200px;
       text-indent: -9999em;
       -webkit-animation-delay: 0.16s;
       animation-delay: 0.16s;
     }
     .loader:before {
       left: -3.5em;
     }
     .loader:after {
       left: 3.5em;
       -webkit-animation-delay: 0.32s;
       animation-delay: 0.32s;
     }
     .loader:before,
     .loader:after {
       content: '';
       position: absolute;
       top: 0;
      }
      @-webkit-keyframes load7 {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em #ffffff;
        }
        40% {
          box-shadow: 0 2.5em 0 0 #FFF;
        }
      }
      @keyframes load7 {
        0%,
        80%,
        100% {
          box-shadow: 0 2.5em 0 -1.3em #ffffff;
        }
        40% {
          box-shadow: 0 2.5em 0 0 #FFF;
        }
      }  
  
  
  
  .saludos{
  
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  
  
  }    
  
  .informacion{
  
  position: relative;
  left: 25%;
  top: 200px;
  font-size: 15px;
  height: 30vh;
  width: 50vw;
  
  
  }
  
  .btn-cv{
  
  
    background-color: rgb(102, 26, 230);
    color: #FFF;
  height: 5vh;
  width: 8vw;
  position: relative;
  left: 30%;
  top: 10px;
  z-index: 2;
  border-radius: 50px;
  border: solid 1px black;
  
  }
  
  .btn-cv:hover{
  
    box-shadow: -2px 5px 5px 1px black;
  
  
  }
  
  .cv{
  
  position: relative;
  display: flex;
  justify-content: center;
  top: 6px;
  
  }
  
  
  .tito{

  position: relative;
  top: -300px;
  border-radius: 50px;
  border: solid 1px black;
  animation: name 1s infinite alternate ease-in-out;;
 
  
  
  
  
  }
  
  .dubronfresh{
  
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  
  
  
  
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: animate 1.8s infinite ease-in-out;
    animation: animate 1.8s infinite alternate ease-in-out;
  
  
  
  
  }
  
  
  .ava{
    position: relative;
    top: 200px;
    left: 46.3%;
    box-shadow: 1px 1px 10px 1px rgb(102, 26, 230);
    animation: name 1s infinite alternate ease-in-out;;
  }
  
  @keyframes name {
    0%{box-shadow: 1px 1px 10px 1px rgb(102, 26, 230);}
  100%{box-shadow: 1px 1px 10px 1px ;}
  
  }
  
  
  @keyframes animate {
    
  0%{opacity: 100%;}
  100%{opacity: 0%;}
  }
  
  
  
  .genu{
  
  position: fixed;
  top: 60px;
  z-index: 3;
  opacity: 90%;
   
  
  }

.gitt{


height: 5vh;
position: relative;
left: 210%;

} 
  
.gitt:hover{

  animation: ico 1s infinite alternate ease-in-out;
   
      
      } 


.lii{


  height: 7.3vh;
  position: relative;
  left: 550%;
  
  } 
    
  .lii:hover{

animation: ico 1s infinite alternate ease-in-out;
 
    
    } 
      
@keyframes ico {
  
0%{opacity: 100%;}
100%{opacity: 70%;}
}    
         

.css{

position: relative;
left: 10%;

}

.giti{

position: relative;
left: 10%;

}



.ani{

width: 23.6vw;

top: 50px;


position: relative;
 border: 1px dashed black;
border-radius: 50px;
animation: animacion-letra 10s alternate infinite;
font-size: 20px; 
}

 
 


@keyframes animacion-letra {
  

0%{transform:  translate(311.5%); }
100%{transform: translate(0); }


}


.proyec {
  
  position: relative;
  top: -150px;
 left: 43%;
  width: 10vw;
  font-size: 30px;
}


.caja-uno{

  position: relative;
  top: -100px;
  height: 50vh;
   
  width: 28.1vw;
   
  border-radius: 50px;

}

@keyframes caka {
  
0%{box-shadow: 0 0 10px 1px rgb(243, 12, 155);}
100%{box-shadow: 0 0 20px 1px rgb(243, 12, 155);;}
}


.caja-dos{
 
  border-radius: 50px;

position: relative;
top: -436px;
 left: 29%;

 width: 28.1vw;
}

.bto{


position: relative;
top: -700px;
left: 5%;
 
width: 8vw;
opacity: 95%;
animation: identifierr 1s alternate infinite;

}

.bto:hover{
  animation: identifierr 0s alternate infinite;
}    

.btoo{


  position: relative;
  top: -750px;
  left: 15%;
   
  width: 8vw;
  opacity: 95%;
  animation: identifierr 1s alternate infinite;
  
  }

  .btoo:hover{
    animation: identifierr 0s alternate infinite;
  }    

  .btoe{


    position: relative;
    top: -800px;
    left: 35%;
     
    width: 8vw;
    opacity: 95%;
    animation: identifierr 1s alternate infinite;
    
    
    }

.btoe:hover{
  animation: identifierr 0s alternate infinite;
}    
    
    .btooo{
     
    
      position: relative;
      top: -850px;
      left: 45%;
       
      width: 8vw;
      opacity: 95%;
      animation: identifierr 1s alternate infinite;
      
      }

      .btooo:hover{
        animation: identifierr 0s alternate infinite;
      }    

.edi{


height: 80vh;
position: relative;
top: -1000px;
left: 60%;



animation: edii 5s alternate infinite;
}      

 

@keyframes edii {
  
0%{transform: scale(100%) ;}
100%{transform: scale(80%) ; }

}


.carru{
 
height: 33vh;
position: relative;
top: -100px;
display: flex;
justify-content:space-between;
overflow-y: hidden;
 
 
   
     

}


.can{

border-radius: 50px;
 
width: 24vw;
height: 1vh;
margin-left: 10px;
flex-basis: 25%;
  flex-grow: 1;
}

.canal{

  border-radius: 30px;


}

 .camb{
position: relative;
left: 47%;
 z-index: 3;
top: 100px;
 
 }


 /* scrool */
html{
  scroll-behavior: smooth;

}
::-webkit-scrollbar{
  background: #717171;
  width: 10px;
  height: 14px;
  
}

::-webkit-scrollbar-track{
box-shadow: inset 0 0 10px #00000070;
border-radius: 6px;
}
::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, .4);
background: linear-gradient(125deg, #18181a,);
border-radius: 20px;


}


 
.carder {
  width: 255px;
  margin-left: 17%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 10px;
  margin-top: 15px;
  transition: transform 0.2s ease;
  position: relative;

}

.carder img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.carder-content {
  padding: 20px;
  background-color: #111111;
}

.carder-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carder-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.carder-content a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #63048f;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.carder-content a:hover {
  background-color: #1d0392;
}



.carder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.carder:hover::before {
  opacity: 1;
}

.carder:hover {
  transform: translateY(-10px);
}




.album{

display: flex;
justify-content: space-around;
 
 


}

.albumm{

  display: flex;
  justify-content: space-around;
   
  
  
  }

.podcc{

 
 position: relative;
margin-left: 23%;



}

.podc {
  
    position: relative;
    top: -90px;
   left: 100%;
    
    width: 50vw;
    font-size: 30px;
    animation: animate-text 2s ease forwards;
  }
  


  @keyframes animate-text {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }  

.descripcion{
 
width: 50vw;
position: relative;
left: 1%;



}

.hd{
 
  
  position: relative;
 
margin-top: 1%;
  color: #c0c0c0;
  font-size: 24px;
  display: inline-block;
  animation: typing 1s ease-in-out infinite;

}

.hq{
position: relative;
  left: 1%;
width: 26vw;


}

.hqq{

 
  width: 22vw;
  position: relative;
  left: 1%;
  margin-top: 1%;
  
  }

@keyframes typing {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-1em);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
 









.h{

  
  
 
  position: relative;
  left: 1%;
   
  color: #1a237e;
  animation: shine 5s ease-in-out infinite;

  
  }


  

  @keyframes shine {
    0% {
      color: #1a237e;
    }
    50% {
      color: #7986cb;
    }
    100% {
      color: #1a237e;
    }
  }
  
  

  .descript{


 
margin-top: 1%;


  }



.videw{


position: relative;
left: 52%;
 top: -647px;
width: 0vw;
background-color: red;

 

}  

.videwo{border-radius: 50px;}

.yt{

position: relative;
top: -100px;

}

 

.dub{

font-size: 20px;
position: relative;
 
width: 8vw;
top: 40px;

}

.hh{

 
 

  width: 70vw;
  font-size: 30px;
   position: relative;
   top: -100px;
   left: 20%;

  
  }



  

 