 /* Vertical */
 @media only  screen and  (min-width: 577px) and (max-width: 768px) {


    .album{
  
      display: flex;
      justify-content: center;
       
      position: relative;
      left: 33%;
    
   width: 20px;   
      
      
      }
  
     .carder{
  
  position: relative;
  left: 200px;
  
     }
      
     .podcc{
  
  position: relative;
  left: 20%;
   
   
  width: 3px;
  
     }
  .dubb{
  position: relative;
  top: 270px;
  left: 10px;
  
  }
  
     .hh{ 
      width: 50vw;}
      .albumm{
      
        display: flex;
        justify-content: center;
        
        
        position: relative;
        left: 33%;
      
     width: 20px;  
        
        }
  
  
  
        .videwo{
  
  
  position: relative;
  top: 300px;
 
  height: 35vh;
  width: 42vw;
  
        }

.videwo{

position: relative;
margin-left: 34px;


}
.dub{
position: relative;
left: 137px;

}
        .carder{

 height:30vh;
 width: 18vw;
 position: relative;
 left: 110px;
 
        }
  
  .koko{}

  .yt{
  
  margin-top: 8%;
  position: relative;
  top: -400px;
  }
  
  .ty{
    position: relative;
    top: -85px;
  
  
  }
  
  .descript{
   
  width: 98vw;
  
  
  }
  
  .h{
  
  width: 50vw;
  
  
  }


  .back{height: 30vh; position: relative; top: -375px; left: 436px;}
  .front{height: 30vh; margin-block-end: 300px;}
  .cardd{height: 50vh; width: 40vw;}
  .caja-dos{position: relative; left: 60%; top: -490px;}
  .botoness{position: relative; left: 100px;  width: 100px; top: 90px;}
  .botonesss{position: relative; left: 560px; width: 100px; top: 140px;}
  .btooo{display: none;}
  .btoo{display: none;}
.nombre{display: none;}
.contenido{display: none; }
.perfil{position: relative;left: 110%;}
  .btn-cv{width: 50vw; position: relative; left: 200px;}
  .todo{position: relative; left: 90px; width: 30vw;}
  }
  
  