
  /* celular */
  @media only screen and (max-width: 576px) and (max-width: 700px) {
  
    .cardi {
      display: block;
    }
  
    .cardii {
      display: block;
    }
  
    .buscar {
      display: none;
    }
  
    .cambiars {
      position: relative;
      left: 50%;
    }
  
    .img {
      height: 100vh;
    }
    
  .back{display: none;}
  .front{display: none;}
  
  
  .todo-nombre{  }
   .contenido{display: none;  }
   .perfil{position: relative; left: 30%;}
   .todo{position: relative; right: -15%;  width: 20px;}
  .certi{display: none;}
  .btn-cv{display: none;}
  .avatar{position: relative; left: 220%; }
   .todolen{display: block; }
   .lenguaa{height: 1%;  }
   .giti{position: relative; left: 22px;}
   .sq{position: relative; left: 10px;}
   .css{position: relative; left: 20px;}
   .html{position: relative; left: 6px; }
   .java{position: relative; left: 6px; }
   .react{position: relative; left: 6px; }
  .conoci{position: relative; right: 80px;}
  .ani{display: none;}
  
   .todo-caja{position: relative; top: 200px; }
   .ca{height: 50vh; width: 100vw;}
   .caa{height: 50vh; width: 100vw; position: relative; top: 400px; left: -110px;}
   .proyec{position: relative; right: 100px;}
   .btoe{position: relative; top: -100px;}


    
   .edi{display: none;}

 .totalb{

 
position: relative;
top: -60px;

 }

   .album{

    display: flex;
    
    flex-direction: column;
  position: relative;
   
    right: 100px;
     
    
    
    }

    .koko{  
    
    width: 20vw;
    
    }
    
    .albumm{
    
      display: flex;
      
      flex-direction: column;
   position: relative;
   margin-left: 8%;     
      
      
      }


      .caja-dos{

position: relative;
left: -1px;


      }

.can{

display: none;


}



.botonesss{

position: relative;
top: 400px;



}

.btoe{

display: none;
position: relative;
top: -100px;
}

.bto{

  display: none;
  
  }





.h{

 
 

width: 70vw;
font-size: 30px;
 

}
 

 .descript{

  
 width: 99vw;
 

 }

 .descripcion{

  margin-top: 5%;
  width: 98vw;

 }

 .videw{

position: relative;
left: 20px;

 }

 .videwo{

height: 30vh;
width: 90vw;
position: relative;
top: 650px;
 
margin-block-end: 100px;



 }
 
 .dub{

background-color: red;
position: relative;
left: -100%;
display: none;

 }

.carder{

 position: relative;
 left: 205%;

}

 
 
 

.carderr{


  position: relative;
  left: 40%;
  

}
.tit{

width: 90vw;
position: relative;
left: 5%;
 
height: 20vh;

}

.hd{

  margin-top: 9%;

}

.podcc{

 
position: relative;
left: -330px;
width: 100vw;
 
 

}
 
.podc{
   

}

.hd{
font-size: 15px;

}

  }
  


/*Tablet*/

  /* Horizontal
@media screen and (max-width: 768px) {
   
.podc{position: relative; right:  10%;}

  .album{

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 33%;
  
 width: 20px;   
    
    
    }

   
    
    .albumm{
    
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      position: relative;
      left: 33%;
    
   width: 20px;  
      
      }

      .carru{display: none;}

} */
 